In [1]:
import pandas as pd
import numpy as np

In [2]:
from lib.importacao.economatica.empresas.iochpe.dados_2009T1_2021T4 import Iochpe2009T12021T4
from lib.valuation.valuation import Valuation
from lib.valuation.factories.valuation_periodo_trimestral_factory import ValuationPeriodoTrimestralFactory

In [3]:
dados_importacao = Iochpe2009T12021T4()

In [4]:
dados_importacao.prepare()

In [5]:
dados_importacao.df.at['bp.ativo.circulante', '2010T1']

618215000

In [6]:
dados_importacao.df.loc['bp.ativo.circulante']

codigo_0            bp
codigo_1         ativo
codigo_2    circulante
codigo_3           NaN
codigo_4           NaN
               ...
2020T4      5161926000
2021T1      6054354000
2021T2      6208374000
2021T3      6953970000
2021T4      6847514000
Name: bp.ativo.circulante, Length: 61, dtype: object

In [7]:
dados_importacao.df.at['bp.passivo.circulante.outras_obrigacoes', '2021T4']

686992000

In [9]:
dados_importacao.df.loc['bp.passivo.circulante.outras_obrigacoes.outros_cp.outros', '2021T4']

485666000

In [11]:
dados_importacao.df.loc['bp.passivo.circulante.outras_obrigacoes.outros_cp', '2021T4']

686992000

In [12]:
dados_importacao.df.loc['bp.passivo.circulante.outras_obrigacoes.outros_cp.outros', '2021T4']

485666000

In [13]:
type(dados_importacao.df.loc['bp.passivo.circulante.outras_obrigacoes.outros_cp.outros', '2021T4'])

int

In [15]:
dados_importacao.df.loc['bp.passivo.circulante', '2021T4']

5166728000

In [16]:
dados_importacao.df.loc['bp.passivo.circulante.outras_obrigacoes.outros_cp.dividendos', '2021T4']

201326000

In [17]:
filter = dados_importacao.df.index.dropna(how='all')

In [18]:
filter

Index(['bp.ativo', 'bp.ativo.circulante',
       'bp.ativo.circulante.aplicacoes_financeiras',
       'bp.ativo.circulante.ativos_biologicos',
       'bp.ativo.circulante.caixa_e_equivalentes',
       'bp.ativo.circulante.contas_a_receber',
       'bp.ativo.circulante.despesas_antecipadas',
       'bp.ativo.circulante.estoques',
       'bp.ativo.circulante.impostos_a_recuperar',
       'bp.ativo.circulante.outros',
       ...
       'dre.lucro_bruto', 'dre.lucro_consolidado', 'dre.lucro_liquido',
       'dre.lucro_oper_continuadas', 'dre.operacoes_descontinuadas',
       'dre.participacao_minoritaria', 'dre.receita_liquida_operacional',
       'dre.resultado_financeiro',
       'dre.resultado_financeiro.despesas_financeiras',
       'dre.resultado_financeiro.receitas_financeiras'],
      dtype='object', name='id', length=125)

In [19]:
df = dados_importacao.df.loc[filter]

In [20]:
df

,codigo_0,codigo_1,codigo_2,codigo_3,codigo_4,codigo_5,codigo_6,codigo_7,conta,2009T1,...,2019T3,2019T4,2020T1,2020T2,2020T3,2020T4,2021T1,2021T2,2021T3,2021T4
id,,,,,,,,,,,,,,,,,,,,,
bp.ativo,bp,ativo,NaN,NaN,NaN,NaN,NaN,NaN,Ativo total,1041442000,...,10022525000,9375411000,11717177000,11892587000,13010400000,12411803000,13652232000,13203278000,14431473000,14519530000
bp.ativo.circulante,bp,ativo,circulante,NaN,NaN,NaN,NaN,NaN,Ativo Circulante,525735000,...,3976211000,3357621000,4526247000,4372292000,5278408000,5161926000,6054354000,6208374000,6953970000,6847514000
bp.ativo.circulante.aplicacoes_financeiras,bp,ativo,circulante,aplicacoes_financeiras,NaN,NaN,NaN,NaN,Aplicacoes financeiras,-,...,0,0,0,0,0,0,0,0,0,0
bp.ativo.circulante.ativos_biologicos,bp,ativo,circulante,ativos_biologicos,NaN,NaN,NaN,NaN,Ativos Biologicos CP,-,...,0,0,0,0,0,0,0,0,0,0
bp.ativo.circulante.caixa_e_equivalentes,bp,ativo,circulante,caixa_e_equivalentes,NaN,NaN,NaN,NaN,Caixa e equivalentes de caixa,-,...,671381000,646137000,1133921000,1392574000,1641643000,1605439000,1508930000,1355258000,1006988000,1088114000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
dre.participacao_minoritaria,dre,participacao_minoritaria,NaN,NaN,NaN,NaN,NaN,NaN,-Partic acion minoritar,0,...,104072000,83980000,87200000,68195000,59409000,71866000,77190000,96758000,110601000,89717000
dre.receita_liquida_operacional,dre,receita_liquida_operacional,NaN,NaN,NaN,NaN,NaN,NaN,+Receita liquida operac,1717761000,...,10133513000,10016395000,9772836000,8277349000,8249794000,8760568000,9669104000,11681143000,12750365000,13688367000
dre.resultado_financeiro,dre,resultado_financeiro,NaN,NaN,NaN,NaN,NaN,NaN,+Resultado financeiro,-46076000,...,-193827000,-169904000,-141682000,-176099000,-194234000,-232986000,-242448000,-226870000,-263386000,-324617000
dre.resultado_financeiro.despesas_financeiras,dre,resultado_financeiro,despesas_financeiras,NaN,NaN,NaN,NaN,NaN,-Despesas Financeiras,77599000,...,238297000,235248000,204655000,241577000,233844000,266352000,277033000,321349000,362826000,422470000
dre.resultado_financeiro.receitas_financeiras,dre,resultado_financeiro,receitas_financeiras,NaN,NaN,NaN,NaN,NaN,+Receitas Financeiras,31523000,...,44470000,65344000,62973000,65478000,39610000,33366000,34585000,94479000,99440000,97853000

In [21]:
df.index

Index(['bp.ativo', 'bp.ativo.circulante',
       'bp.ativo.circulante.aplicacoes_financeiras',
       'bp.ativo.circulante.ativos_biologicos',
       'bp.ativo.circulante.caixa_e_equivalentes',
       'bp.ativo.circulante.contas_a_receber',
       'bp.ativo.circulante.despesas_antecipadas',
       'bp.ativo.circulante.estoques',
       'bp.ativo.circulante.impostos_a_recuperar',
       'bp.ativo.circulante.outros',
       ...
       'dre.lucro_bruto', 'dre.lucro_consolidado', 'dre.lucro_liquido',
       'dre.lucro_oper_continuadas', 'dre.operacoes_descontinuadas',
       'dre.participacao_minoritaria', 'dre.receita_liquida_operacional',
       'dre.resultado_financeiro',
       'dre.resultado_financeiro.despesas_financeiras',
       'dre.resultado_financeiro.receitas_financeiras'],
      dtype='object', name='id', length=125)

In [22]:
df.shape

(125, 61)

In [23]:
dados_importacao.df.iloc[[1, 2], [0, 1, 2, 3]]

,codigo_0,codigo_1,codigo_2,codigo_3
id,,,,
bp.ativo.circulante,bp,ativo,circulante,NaN
bp.ativo.circulante.aplicacoes_financeiras,bp,ativo,circulante,aplicacoes_financeiras

In [24]:
dados_importacao.df.iloc[2, [0, 1, 2, 3]]

codigo_0                        bp
codigo_1                     ativo
codigo_2                circulante
codigo_3    aplicacoes_financeiras
Name: bp.ativo.circulante.aplicacoes_financeiras, dtype: object

In [25]:
dados_importacao.df.index.names

FrozenList(['id'])

In [26]:
df3 = dados_importacao.df.sort_index()

In [30]:
dados = {"A": "letra a", "B": [1, 2, 3], "C": True}

In [31]:
dados

{'A': 'letra a', 'B': [1, 2, 3], 'C': True}

In [32]:
df = pd.DataFrame(data=dados)

In [33]:
df

         A  B     C
0  letra a  1  True
1  letra a  2  True
2  letra a  3  True

In [36]:
print(range(0, 5))

range(0, 5)

In [42]:
df = pd.DataFrame({'field1':['foo']*6, 'field2':['bar']*6, 'field3': 
['a','a','b','b','b','c'],'value1':[0.4,0.5,0.4,0.7,.9,.4],'value2': 
[4000,4000,9000,9000,9000,10000]}, index=range(6))

In [43]:
df

  field1 field2 field3  value1  value2
0    foo    bar      a     0.4    4000
1    foo    bar      a     0.5    4000
2    foo    bar      b     0.4    9000
3    foo    bar      b     0.7    9000
4    foo    bar      b     0.9    9000
5    foo    bar      c     0.4   10000

In [48]:
df = df.set_index(['field1','field2','field3'])

KeyError: "None of ['field1', 'field2', 'field3'] are in the columns"

In [49]:
index = df.index[4]
index

('foo', 'bar', 'b')

In [51]:
df.loc[index, 'value1']

field1  field2  field3
foo     bar     b         0.4
                b         0.7
                b         0.9
Name: value1, dtype: float64